$white: #F3F3F3;
$lightGray: #E1E1E1;
$backgroundGray: #E4E4E4;
$gray: #DEDEDE;
$delicateGray: #363636;
$halfGray: #777777;
$darkGray: #141615;
$dark: #2E2D2D;
$black: #1C1C1C;
$deepBlack: #0F0F0F;
$orange: #FF7E00;
$pink: #FF005F;
