@import "../helpers/_mixins";
@import '../helpers/_normalize';
@import './_flag';

@include display-classes(none, flex, block, grid);

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: transparent linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(255, 255, 255, 1) 100%) 0% 0% no-repeat padding-box;
    font-family: Lato;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    @include make-container();
    @include media-between(0px, sm) {
        width: calc(100vw - 1.5rem);
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    font-weight: 300;
}

@include media-up(768px) {
    html {font-size: 15px}
}