.product-icons {
    margin-top: 2rem;

    &__wrapper {
        display: grid;
        grid-template-columns: minmax(300px, 60%);
        justify-content: center;
        gap: 1rem;
        margin: 1rem auto;
    }

    &__element {
        display: flex;
        gap: 2px 10px;
        align-items: center;
    }

    &__description {
        font-size: 1.65rem;
        font-weight: 400;
        font-family: 'Roboto';
    }

    &__image {
        min-width: 20%;
        width: max-content;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}

@include media-up(400px) {
    .product-icons {
        &__image {
            min-width: 100px;

            img {
                min-width: 100px;
            }
        }
    }
}

@include media-up(576px) {
    .product-icons {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__image {
            min-width: unset;

            img {
                width: 80px;
            }
        }
    }
}

@include media-down(400px) {
    .product-icons {
        &__image {
            img {
                width: 80px;
            }
        }
    }

}

