@include media-up(768px) {
    .follow-us {
        &__link, &__appeal, &__description {
            font-size: 1.5rem;
        }
        &__description {
            &:before {
                width: 30%;
                margin: auto;
            }
        }
    }
}

@include media-up(992px) {
    .follow-us {
        &__description {
            &:before {
                width: 150px;
            }
        }
    }
}