@include media-up(768px) {
    .nav {
        padding: var(--nav-padding) 0;
        transition: padding 300ms ease-out;
        &__logo {
            width: 200px;
            img {
                width: auto;
                height: 45px;
                transition: 300ms ease-out;
            }
        }
        &--scrolled {
            .nav__logo {
                img {
                    height: 38px;
                }
            }
        }
        &__cart {
            left: calc(50% + 348px);
            font-size: 16px;
            &:before {
                right: -12px;
                border-width: 0 12px 12px 12px;
            }
            &__width-container {
                max-width: 52px;
                max-height: calc(100% - 15px);
            }
            &__wrapper {
                width: auto;
                min-width: 600px;
            }
        }

    }

}

@include media-up(992px) {
    .nav {
        &__cart {
            left: calc(50% + 415px);
        }
        &__row {
            grid-template-columns: min-content 5fr 3.5rem 3.5rem;
        }
        &__products {
            display: block;
            margin: auto;
            button {
                background: none;
                color: #b4b4b4;
                border: none;
                text-transform: uppercase;
                line-height: 32px;
                font-weight: 900;
                letter-spacing: 2px;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .menu {
            bottom: unset;
            background-color: transparent !important;
            &.open, .animation-open {
                background-color: transparent;
            }
            .container {
                background-color: #fff;
                overflow: hidden;
            }
            &-elements {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: baseline;
                gap: 0;
            }
            &-element {
                justify-content: center;
                background-color: #f1f1f1;
                &__title {
                    max-width: unset;
                    width: auto;
                }
                &__links {
                    max-height: unset !important;
                }
                &-container {
                    display: inline-flex;
                    flex-direction: column;
                    height: max-content;
                    width: calc(100% / 3);
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        background: rgba(28, 28, 28, 0.15);
                        right: 0;
                        height: 100vh;
                        width: 1px;
                        position: absolute;
                    }
                    
                }
                &--subelement {
                    text-align: center;
                }
                &:before, &:after {
                    content: none;
                }
            }
        } 
    }
}

@include media-up(1200px) {
    .nav {
        &__cart {
            left: calc(50% + 505px);
        }
    }
}

@include media-up(1400px) {
    .nav {
        &__cart {
            left: calc(50% + 595px);
        }
        &__products {
            button {
                font-size: 24px;
            }
        }
    }
}
