@include media-up(768px) {
    .products {
        &__grid {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem 3rem;
            &.two {
                grid-template-columns: 1fr 1fr;
            }
        }
        &__item {
            .thumbnail {
                img {
                    max-width: unset;
                    height: auto;
                    width: auto;
                }
            }
            .title {
                font-size: 1.2rem;
                margin-top: unset;
            }
            .description {
                padding: 0 0 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

@include media-up(992px) {
    .products {
        &__grid {
            grid-template-columns: 1fr 1fr;
            gap: 2rem 3rem;
        }
        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 10px;
            grid-template-areas: 
            "thumbnail title"
            "thumbnail description"
            "actions actions";
            .thumbnail {
                grid-column-start: 1;
                grid-area: thumbnail;
            }
            .title {
                font-size: 1.2rem;
                line-height: 1.2;
                grid-area: title;
                align-self: end;
            }
            .description {
                padding: 0;
                grid-area: description;
                align-self: start;
            }
            .actions {
                grid-area: actions;
            }
        }
    }

}

@include media-up(1200px) {
    .products {
        &__grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@include media-between(768px, 1199.98px) {
    .products__grid {
        .products__item .actions .price {
            font-size: 1rem;
        }
    }
}