@include media-up(768px) {
    .socials {
        &__slider {
            width: 90%;
        }
        &__slide {
            max-width: 40%;
        }
        &__title {
            font-size: 36px;
        }
        &__links {
            gap: 50px;
            &__links {
                top: -10px;
                gap: 30px;
            }
        }
    }
}

@include media-up(992px) {
    .socials {
        &__wall {
            width: 85%;
        } 

        &__slide {
            max-width: 30%;
        }
    }
}