@include media-up(768px) {
    .hero {
        background-color: $halfGray;
        display: flex;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 450px;
    }
}

@include media-up(992px) {
    .hero {
        background-position: calc(50% + 100px) bottom;
        background-color: $halfGray;
        min-height: 450px;
    }
}