@import '../helpers/_mixins';

.brand {
    &__title {
        color: #E1DFDF;
        text-decoration: none;
        font-size: 13px;
        padding-bottom: 18px;
    }
}

.brands {
    background-color: $black;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem 0;
        gap: 3rem;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            top: 25%;
            bottom: 25%;
            width: 1px;
            background-color: $lightGray;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: initial;
        text-decoration: none;
        &:hover {
            img {
                filter: brightness(1);
            }
        }
        img {
            max-width: 100%;
            filter: brightness(0.5);
            transition: filter 300ms ease-out;
            margin-top: auto;
        }
        &.current {
            img {
                filter: brightness(1);
            }
        }
    }
}