@import "../helpers/_mixins.scss";

.gallery {
    padding: 3rem 0;
    &__wrapper {
        grid-template-columns: repeat(4, 1fr);
        max-width: 100vw;
        gap: 0;
    }
    &__single {
        overflow: hidden;
        height: auto;
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            transition: 500ms;
            // transform: scale(1.02);
            &:hover {
                transform: scale(1.2) rotate(3deg);
            }
        }
    }
    &__description {
        text-align: center;
        width: 80%;
        margin: 3rem auto 0;
        &.preview {
            margin: 1.5rem auto 3rem;
        }
    }
}

@include media-up(576px) {
    .gallery {
        &__wrapper {
            grid-template-columns: repeat(5, 1fr);
        }
        &__single {
            width: auto;
        }
    }
}