@import '../helpers/_mixins';

.nav {
    background-color: $deepBlack;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    &__row {
        display: grid;
        grid-template-columns: 3.5rem 5fr 3.5rem 3.5rem;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__logo {
        a {
            display: flex;
            width: max-content;
            margin-top: auto;
        }
        img {
            max-width: 100%;
            width: auto;
            height: 22px;
            display: block;
        }
    }
    &__flag {
        margin-left: auto;
        button {
            background-color: transparent;
        }
    }
    &__cart {
        display: flex;
        align-items: start;
        button {
            margin-left: auto;
            position: relative;
            width: 26px;
            height: 26px;
            background-color: transparent;
            border: none;
            &:before {
                content: url('/assets/img/cart.svg');
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

    }
    .hamburger {
        width: 26px;
        height: 18px;
        position: relative;
        display: block;
        padding: 0;
        border: none;
        background: none;
        &__line {
            position: absolute;
            right: 0;
            left: 0;
            display: block;
            height: 2px;
            background-color: $white;
            border-radius: 1px;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }

    }


}