@charset "UTF-8";
:root {
  --body-padding: 32px;
}
@media screen and (min-width: 768px) {
  :root {
    --body-padding: 75px;
    --nav-padding: 15px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
.old-price {
  display: none;
}

body {
  overflow-x: hidden;
  background: transparent linear-gradient(180deg, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  font-family: Roboto;
  transition: padding-top 300ms;
}
body.bf .old-price {
  display: block;
}
body.menu-open {
  position: fixed;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (min-width: 0px) and (max-width: 575.98px) {
  .container {
    width: calc(100vw - 1.5rem);
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #1C1C1C;
  font-family: "Roboto";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  color: #1C1C1C;
  font-family: "Roboto";
}

.blur {
  filter: blur(10px);
}

.text-center {
  text-align: center;
}

.padding-top-element {
  padding-top: var(--body-padding) !important;
  transition: padding-top 300ms ease-out;
}

span.product-name-margin strong {
  display: inline-block;
  margin-bottom: 3px;
}
span.product-name-margin small {
  display: block;
  font-size: 75%;
  line-height: 1.2;
}

.mt {
  margin-top: 2rem !important;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
}
.menu .container {
  transition: opacity 300ms;
}
.menu.close {
  display: none;
}
.menu.close .container {
  opacity: 0;
}
.menu.open {
  display: block;
  background-color: rgba(232, 232, 232, 0.94);
}
.menu.open .container {
  opacity: 1;
}
.menu.animation-open {
  display: block;
  animation: openMenu 0.3s forwards;
}
.menu.animation-open .container {
  opacity: 1;
}
.menu.animation-close {
  display: block;
  animation: closeMenu 0.3s forwards;
}
.menu.animation-close .container {
  opacity: 0;
}
.menu-elements {
  display: flex;
  flex-direction: column;
}
.menu-element {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.menu-element__title {
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-family: Lato;
  max-width: 80%;
}
.menu-element:before {
  content: "";
  display: block;
  bottom: 0;
  position: absolute;
  height: 1px;
  background-color: rgba(28, 28, 28, 0.15);
  left: -100%;
  right: -100%;
}
.menu-element__links {
  overflow: hidden;
  max-height: 0;
  max-width: 100vw;
  transition: max-height 300ms;
  margin: 0;
  width: 100vw;
  position: relative;
  left: -0.75rem;
  padding-left: 1.5rem;
  flex-direction: column;
  gap: 5px 0;
}
.menu-element__links a {
  color: inherit;
  text-decoration: none;
}
.menu-element__links.animate {
  display: flex;
}
.menu-element__links.open {
  display: flex;
  max-height: unset;
}
.menu-element__links .menu-element--subelement {
  padding: 5px 0;
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  font-family: Lato;
}
.menu-element__links .menu-element--subelement:before {
  content: "";
  display: block;
  bottom: 0;
  position: absolute;
  height: 1px;
  background-color: rgba(28, 28, 28, 0.15);
  left: -100%;
  right: -100%;
}
.menu .links {
  position: relative;
  display: flex;
  align-items: center;
}
.menu .links:after {
  font-size: 34px;
  position: absolute;
  font-weight: 100;
  right: 0;
}
.menu .links-close:after {
  content: "+";
}
.menu .links-open:after {
  content: "–";
}

@keyframes openMenu {
  0% {
    background-color: rgba(232, 232, 232, 0);
  }
  100% {
    background-color: rgba(232, 232, 232, 0.94);
  }
}
@keyframes closeMenu {
  0% {
    background-color: rgba(232, 232, 232, 0.94);
  }
  100% {
    background-color: rgba(232, 232, 232, 0);
  }
}
@media screen and (min-width: 576px) {
  .menu-element__links {
    position: static;
    max-width: unset;
    width: unset;
  }
}
.qnt-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qnt-counter--inline {
  display: inline-flex;
}
.qnt-counter--small {
  font-size: 14px !important;
}
.qnt-counter--medium {
  font-size: 2rem !important;
}
.qnt-counter__button {
  flex: none;
  width: 0.8em;
  height: 0.8em;
  border: none;
  color: #F3F3F3;
  padding: 0.2em;
  font-size: 1.5em;
  font-weight: 900;
  background-color: #363636;
  color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.qnt-counter__button[disabled] {
  padding: 0 1px;
  opacity: 0.3;
  cursor: default;
}
.qnt-counter__input {
  width: 2.5em;
  padding: 0.15em 0.15em 0;
  border: none;
  border-radius: 5px;
  background: none;
  text-align: center;
  color: inherit;
}
.qnt-counter__input:active, .qnt-counter__input:focus, .qnt-counter__input:focus-visible {
  outline: none;
}

.nav__products {
  display: none;
}

@media screen and (min-width: 992px) {
  body.menu-open {
    overflow: unset;
    position: static;
  }
}
.nav {
  background-color: #0F0F0F;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav__row {
  display: grid;
  grid-template-columns: 3.5rem 5fr 3.5rem 3.5rem;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__logo a {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin-top: auto;
}
.nav__logo img {
  max-width: 100%;
  width: auto;
  height: 22px;
  display: block;
}
.nav__flag {
  margin-left: auto;
}
.nav__flag button {
  background-color: transparent;
}
.nav__cart--button {
  display: flex;
  align-items: start;
}
.nav__cart--button button {
  cursor: pointer;
  margin-left: auto;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  display: flex;
}
.nav__cart--button .cart-icon {
  display: block;
  min-width: 26px;
  height: 26px;
  fill: #777777;
  position: relative;
  left: -50%;
  transition: 300ms;
}
.nav__cart--button .cart-icon:hover {
  fill: #fff;
}
.nav__cart {
  position: absolute;
  top: 100%;
  bottom: calc(-100vh + 100%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  height: auto !important;
  overflow: visible !important;
  color: #000;
  line-height: 1;
  font-weight: 300;
  left: calc(100% - 23px);
  font-size: 12px;
  display: none;
}
.nav__cart:before {
  content: "";
  position: absolute;
  bottom: 100%;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #777777 transparent;
  right: -11px;
  border-width: 0 8px 8px 8px;
}
.nav__cart__width-container {
  max-width: 46px;
  max-height: 100%;
  overflow: visible;
  height: auto;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}
.nav__cart__width-container.empty .nav__cart__wrapper--empty .nav__cart__empty {
  display: block;
}
.nav__cart__width-container.empty .nav__cart__footer {
  display: none;
}
.nav__cart__width-container.empty .nav__cart__details {
  display: none;
}
.nav__cart__wrapper {
  width: 100vw;
  min-width: 0;
  max-height: 100%;
  background-color: #e8e8e8;
  overflow-y: auto;
}
.nav__cart__details {
  display: table;
  min-width: 100%;
  text-transform: uppercase;
}
.nav__cart__row {
  display: table-row;
}
.nav__cart__row--header {
  background-color: #777777;
}
.nav__cart__row--product {
  text-transform: none;
}
.nav__cart__row .nav__cart__cell {
  border-bottom: 1px solid #c8c8c8;
}
.nav__cart__row:first-child .nav__cart__cell {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav__cart__cell {
  display: table-cell;
  vertical-align: middle;
  padding: 7px 5px;
  text-align: center;
  width: 15%;
}
.nav__cart__cell:first-child {
  padding-left: 10px;
  text-align: left;
  white-space: normal;
  width: unset;
}
.nav__cart__remove {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  background: none;
}
.nav__cart__remove:before, .nav__cart__remove:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  left: 0;
  height: 2px;
  background-color: #000;
}
.nav__cart__remove:before {
  transform: rotateZ(45deg);
}
.nav__cart__remove:after {
  transform: rotateZ(-45deg);
}
.nav__cart__footer {
  display: flex;
  background-color: #c8c8c8;
}
.nav__cart__shipping {
  flex-grow: 1;
  padding: 10px;
}
.nav__cart__button {
  min-width: 0;
  padding: 5px 10px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #505050;
  color: #fff;
  text-decoration: none;
}
.nav__cart__empty {
  display: none;
  background-color: #777777;
  font-size: 1.25rem;
  text-align: center;
  color: #F3F3F3;
  padding: 10px;
}
.nav__cart-badge {
  position: relative;
  display: none;
  top: -3px;
  right: 100%;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #777777;
  text-align: center;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
.nav .hamburger {
  width: 26px;
  height: 18px;
  position: relative;
  display: block;
  padding: 0;
  border: none;
  background: none;
}
.nav .hamburger--open .hamburger__line:nth-child(1) {
  top: calc(50% - 1px);
  transform: rotateZ(45deg);
}
.nav .hamburger--open .hamburger__line:nth-child(3) {
  bottom: calc(50% - 1px);
  transform: rotateZ(-45deg);
}
.nav .hamburger--open .hamburger__line:nth-child(2) {
  opacity: 0;
}
.nav .hamburger__line {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  height: 2px;
  background-color: #F3F3F3;
  border-radius: 1px;
  transition: 0.3s;
}
.nav .hamburger__line:nth-child(1) {
  top: 0;
}
.nav .hamburger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav .hamburger__line:nth-child(3) {
  bottom: 0;
}

@media screen and (min-width: 576px) {
  .nav__cart {
    left: calc(50% + 244px);
    font-size: 14px;
  }
  .nav__cart:before {
    right: -22px;
  }
  .nav__cart__width-container {
    max-width: 52px;
  }
  .nav__cart__wrapper {
    width: auto;
    min-width: 540px;
  }
  .nav__cart__details {
    display: table;
    min-width: 100%;
    text-transform: uppercase;
  }
  .nav__cart__row:first-child .nav__cart__cell {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .nav__cart__cell {
    padding: 7px;
    text-align: center;
    width: 100px;
  }
  .nav__cart__cell:first-child {
    padding-left: 14px;
  }
  .nav__cart__shipping {
    padding: 14px;
  }
  .nav__cart__button {
    min-width: 150px;
    padding: 7px 14px;
    flex-shrink: 1;
  }
  .nav__cart__empty {
    min-width: 540px;
  }
  .nav__cart-badge {
    position: relative;
    display: none;
    top: -3px;
    right: 100%;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #777777;
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
  }
}
:root {
  --hero-image: url("/assets/img/mobile-main.png");
}
@media screen and (min-width: 992px) {
  :root :root {
    --hero-image: url("/assets/img/main.png") ;
  }
}

@supports (background-image: url("data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA")) {
  :root {
    --hero-image: url("/assets/img/mobile-main.webp");
  }
  @media screen and (min-width: 992px) {
    :root {
      --hero-image: url("/assets/img/main.webp");
    }
  }
}
.hero {
  min-height: 240px;
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-y: 100%;
  background-position-x: 100%;
  position: relative;
}
.hero__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -2;
}

.brand__title {
  color: #E1DFDF;
  text-decoration: none;
  font-size: 13px;
  padding-bottom: 10px;
  font-weight: 300;
  text-align: center;
}

.brands {
  background-color: #1C1C1C;
}
.brands__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 0;
  gap: 3rem;
  position: relative;
}
.brands__grid:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  bottom: 25%;
  width: 1px;
  background-color: #E1E1E1;
}
.brands__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: initial;
  text-decoration: none;
}
.brands__column:hover img {
  filter: brightness(1);
}
.brands__column img {
  max-width: 100%;
  filter: brightness(0.5);
  transition: filter 300ms ease-out;
  margin-top: auto;
}
.brands__column.current img {
  filter: brightness(1);
}

.brands.margin {
  margin: 5rem 0;
}
.brands__grid__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.brands__grid__item .brands__column img {
  margin-top: unset;
}
.brands__grid__item__image-block {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .brands__grid__item__image-block img {
    position: absolute;
    top: -100%;
  }
}
.products__grid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 1.5rem;
}
.products__grid.two {
  grid-template-columns: 1fr;
  width: 100%;
}
.products__grid.two .products__item {
  align-items: unset;
}
.products__grid.two .products__item .thumbnail img {
  width: auto;
  max-width: unset;
}
.products__grid.two .products__item .title {
  text-align: left;
  font-weight: 100;
  font-size: 32px;
  line-height: 33px;
}
.products__grid.two .products__item .description {
  text-align: left;
  padding: 0;
  font-weight: 900;
}
.products__grid .currency {
  text-transform: uppercase;
}
.products__grid .product-form {
  grid-column: 1/3;
}
.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.products__item a {
  color: inherit;
  text-decoration: none;
}
.products__item-link__block {
  display: flex;
  text-align: center;
  grid-column: 1/3;
  border: 1px solid black;
  margin-top: auto;
  align-items: center;
  width: 100%;
}
.products__item-link__block a {
  display: block;
  padding: 10px 10px;
  width: 100%;
  width: 100%;
}
.products__item .thumbnail {
  text-align: center;
}
.products__item .thumbnail img {
  max-width: 100px;
  height: auto;
}
.products__item .title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 0.8rem;
}
.products__item .description {
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 0.5rem 2rem;
}
.products__item .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: auto;
}
.products__item .actions .quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.6rem 0.7rem;
}
.products__item .actions .quantity input {
  width: 3rem;
  text-align: center;
  background-color: transparent;
  border: none;
}
.products__item .actions .quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.products__item .actions .price {
  padding: 0.6rem 0.7rem;
  text-align: right;
}
.products__item .add-to-cart {
  grid-column: 1/3;
  align-items: center;
  margin-top: 0.5rem;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
.products__item .add-to-cart__button {
  border: 1px solid rgba(54, 54, 54, 0.5);
  grid-column: 1/3;
}
.products__item .add-to-cart__grid-button {
  display: flex;
  justify-content: flex-end;
}
.products__item .add-to-cart .product-variant-choice {
  display: flex;
  font-size: 0.7rem;
  max-width: 75%;
  gap: 5px;
}
.products__item .add-to-cart .product-variant-choice .variant {
  display: flex;
  align-items: center;
}
.products__item .add-to-cart .product-variant-choice .values {
  outline: none;
  border: none;
  background-color: transparent;
}
.products__item .add-to-cart .product-variant-choice .values .variant-value {
  display: none;
}
.products__item .add-to-cart .product-variant-choice .values .variant-value.current {
  display: block;
}

@media screen and (min-width: 576px) {
  .products__item .thumbnail img {
    max-width: 120px;
    height: auto;
  }
  .products__item .description {
    font-size: 1.3rem;
    padding: 0 2rem 0.5rem;
  }
}/*# sourceMappingURL=home-critical.css.map */