@import '../includes/_global';
@import '../components/_navbar';
@import '../components/home-components/home-hero';
@import '../components/_brand-navigation';
@import '../components/_products-grid';
@import '../components/_mark';
@import '../components/_newsletter';
@import '../components/_follow';
@import '../components/_gallery';
@import '../components/_faq';

.home {
    &-page-title {
        span, strong {
            white-space: nowrap;
        }
        strong {
            font-weight: inherit;
        }
    }
    &__title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        width: 50%;
        padding: 1rem 0;
        color: $dark;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding-bottom: 0.5rem;
        color: $dark;
    }
    &__subtitle {
        display: none;
    }
    &__subdescriotion {
        display: none;
    }
}

@include media-up(768px) {


    .home {
        &-page-title {
            max-width: 60%;
        }
        &__title {
            width: auto;
            font-weight: 100;
            font-size: 2.5rem;
            padding: 0;
            margin: 1rem 0;
            color: #fff;
            @include beforeTitleHome();
        }
        &__description {
            color: $white;
            font-size: 1rem;
            line-height: 1.2rem;
        }
        &__subtitle {
            display: block;
            font-size: 2.5rem;
            padding: 0;
            margin: 1rem 0;
            font-weight: 100;
            color: #fff;
            @include beforeTitleHome();
        }
        &__subdescriotion {
            display: inline;
            color: $white;
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }
}

