@import '../includes/_flag';
@import '../includes/global';
@import '../helpers/mixins';
@import '../components/_mark';
@import '../components/_newsletter';
@import '../components/_follow';
@import '../components/_gallery';
@import '../components/_faq';
@import '../components/add-to-cart';
@import '../components/socials';
.home {
    &-page-title {
        span, strong {
            // white-space: nowrap;
        }
        strong {
            font-weight: inherit;
        }
    }
    &__title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        width: 50%;
        padding: 1rem 0;
        color: $dark;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding-bottom: 0.5rem;
        color: $dark;
    }
    &__subtitle {
        display: none;
    }
    &__subdescriotion {
        display: none;
    }
}



