@import '../helpers/mixins';
@import '../desktop/components/add-to-cart';
@import '../desktop/components/gallery';
@import '../desktop/components/product-components/icons_section';
@import '../desktop/components/product-components/product-hero';

@include media-up(768px) {
    .product {
        &-content {
            &__wrapper {
                grid-template-columns: 7fr 5fr;
                grid-template-areas:         
                "title image"
                "content image"
                "extra extra";
                &--reverse {
                    grid-template-columns: 5fr 7fr;
                    grid-template-areas:         
                    "image title"
                    "image content"
                    "extra extra";
                }
            }
        }
    }
}

@include media-up(992px) {
    .product {
        &-effects {
            display: grid;
            
            grid-template-columns: 1fr 1fr;
            justify-items: stretch;
            gap: 1rem;
        
            &__title {
                grid-column: 1/2;
            }
            &__slider {
                grid-row: 1/3;
                grid-column: 2/3;

                margin-left: auto;
            }
        }
        &-order {

            &__content {
                width: 80%;
            }

            .d-grid {
                grid-template-columns: 1fr 1fr;
            }

            .parallax {
                display: block;
                position: relative;
                overflow: hidden;
                &__layer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &--front {
                        z-index: 1;
                    }
                    &--back {
                        z-index: 0;
                    }
                }
            }

            &__image {
                img {
                    width: auto;
                }
            }
        }
    }
}