.hero {
    min-height: 240px;
    background-image: url('../../img/mobile-main.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-y: 100%;
    background-position-x: 100%;
    position: relative;
    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: -2;
    }
    // background-color: #fff;
}

@include media-up(768px) {
    .hero {
        background-image: url('../../img/mobile-main.png');
        background-color: $halfGray;
        display: flex;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@include media-up(992px) {
    .hero {
        background-image: url('../../img/main.png');
        background-position: calc(50% + 100px) bottom;
        background-color: $halfGray;
    }
}