:root {
    --hero-image: url('/assets/img/mobile-main.png');
    @include media-up(992px) {
        :root {
            --hero-image: url('/assets/img/main.png')
        }
    }
}

@supports (background-image: url('data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA')) {
    :root {
        --hero-image: url('/assets/img/mobile-main.webp');
        @include media-up(992px) {
            --hero-image: url('/assets/img/main.webp');
        }
    }

}


.hero {
    min-height: 240px;
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-y: 100%;
    background-position-x: 100%;
    position: relative;
    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: -2;
    }
    // background-color: #fff;
}

